<div class="lg:w-[380px] bg-slate-50 shadow overflow-y-hidden dark:bg-zinc-700 h-[100vh]">
  <div>
    <div>
      <div class="w-full min-h-[80px] max-h-fit px-5 pt-6 flex justify-between items-center">
        <p class="text-2xl font-bold mb-0 text-gray-700 dark:text-gray-50">Chats</p>
        <div>
          <button (click)="createOwnChatShow()" class="group flex justify-center items-center outline-none rounded-full focus:outline-none transition-all duration-200 focus:bg-gray-50 hover:bg-gray-50 dark:hover:bg-gray-700 dark:focus:bg-gray-600 w-7 h-7" title="New chat">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true" class="w-[20px] h-[20px] text-indigo-300 hover:text-indigo-400">
              <path stroke-linecap="round" stroke-linejoin="round" d="M16.862 4.487l1.687-1.688a1.875 1.875 0 112.652 2.652L10.582 16.07a4.5 4.5 0 01-1.897 1.13L6 18l.8-2.685a4.5 4.5 0 011.13-1.897l8.932-8.931zm0 0L19.5 7.125M18 14v4.75A2.25 2.25 0 0115.75 21H5.25A2.25 2.25 0 013 18.75V8.25A2.25 2.25 0 015.25 6H10"></path>
            </svg>
          </button>
        </div>
      </div>
      <div class="px-6">
        <div class="py-1 mt-5 mb-5 rounded bg-slate-100 dark:bg-zinc-600 flex">
            <span class="bg-slate-100 pe-1 ps-3 dark:bg-zinc-600 mt-3">
              <svg class="w-4 h-4 text-gray-400 dark:text-gray-200" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"/>
              </svg>
            </span>
            <input type="text" class="border-0 bg-slate-100 text-gray-700 dark:text-gray-50 placeholder:text-[14px] focus:ring-offset-0 focus:outline-none focus:ring-0 dark:bg-zinc-600 placeholder:text-gray-400" placeholder="Search messages or users" aria-label="Search messages or users">
        </div>
      </div>
      <div>
        <ngx-simplebar class="h-[80vh]" [options]="options">
          <app-chat-item *ngFor="let chat of chats" (selected)="selectChat($event)" [chat]="chat"></app-chat-item>
        </ngx-simplebar>
      </div>
    </div>
  </div>
</div>
