<div *ngIf="file" class="absolute flex flex-1 ml-1 group w-fit p-2 rounded-b transition duration-500 rounded-tr bg-gray-50 dark:bg-gray-600"
    [ngClass]="{'-mt-44':selectedImage, '-mt-24':!selectedImage}"
>
  <div *ngIf="selectedImage" class="rounded bg-cover bg-center md:w-[170px] md:h-[160px] xs:w-[160px] xs:h-[155px]"
       style="background-image: url({{selectedImage}});">

    <div class="w-full h-full flex justify-end items-start rounded bg-black bg-opacity-20 hover:bg-opacity-10 transition duration-200">
      <button (click)="removeFile()" class="p-2 bg-red-500 hover:bg-red-600 rounded-lg float-right">
        <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 18 20">
          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h16M7 8v8m4-8v8M7 1h4a1 1 0 0 1 1 1v3H6V2a1 1 0 0 1 1-1ZM3 5h12v13a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V5Z"/>
        </svg>
      </button>
    </div>
  </div>
  <div *ngIf="!selectedImage" class="p-2 mb-2 bg-white rounded dark:bg-zinc-800">
    <div class="flex flex-wrap items-center gap-2 attached-file">
      <div class="flex items-center justify-center w-12 h-12 rounded bg-violet-500/20 text-violet-500">
        <svg class="w-6 h-6" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 16 20">
          <path d="M5 5V.13a2.96 2.96 0 0 0-1.293.749L.879 3.707A2.98 2.98 0 0 0 .13 5H5Z"/>
          <path d="M14.066 0H7v5a2 2 0 0 1-2 2H0v11a1.97 1.97 0 0 0 1.934 2h12.132A1.97 1.97 0 0 0 16 18V2a1.97 1.97 0 0 0-1.934-2Z"/>
        </svg>
      </div>
      <div class="overflow-hidden flex-grow-1">
        <div class="text-start">
          <h5 class="mb-1 truncate text-14 dark:text-gray-50">{{file.name}}</h5>
          <p class="mb-0 text-gray-500 truncate text-13 dark:text-gray-500">{{file.size | fileSize}}</p>
        </div>
      </div>
      <div class="ml-4">
        <button (click)="removeFile()" class="p-2 bg-red-500 hover:bg-red-600 rounded-lg">
          <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 18 20">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h16M7 8v8m4-8v8M7 1h4a1 1 0 0 1 1 1v3H6V2a1 1 0 0 1 1-1ZM3 5h12v13a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V5Z"/>
          </svg>
        </button>
      </div>
    </div>
  </div>
</div>

<div class="z-40 w-full p-6 bg-white border-t border-gray-50 dark:bg-zinc-800 dark:border-zinc-700 -mt-4">
  <div class="h-auto flex items-end">
    <div class="min-h-[44px]">
      <input
        type="file"
        class="hidden"
        id="file"
        (change)="fileSelected($event)"
      >
      <label
        for="file"
        class="cursor-pointer group flex justify-center items-center outline-none rounded-full focus:outline-none transition-all duration-200 focus:bg-gray-50 hover:bg-gray-50 dark:hover:bg-gray-700 dark:focus:bg-gray-600 group w-7 h-7 md:mr-5 xs:mr-4"
        title="open select attachments modal" aria-label="open select attachments modal">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
             aria-hidden="true" class="w-[20px] h-[20px] text-gray-400 group-hover:text-indigo-300">
          <path stroke-linecap="round" stroke-linejoin="round"
                d="M18.375 12.739l-7.693 7.693a4.5 4.5 0 01-6.364-6.364l10.94-10.94A3 3 0 1119.5 7.372L8.552 18.32m.009-.01l-.01.01m5.699-9.941l-7.81 7.81a1.5 1.5 0 002.112 2.13"></path>
        </svg>
      </label>
    </div>
    <div class="grow mr-5 self-end">
      <div class="relative">
        <textarea
          [(ngModel)]="input" (keyup.enter)="onEnterKey($event)"
          maxlength="500"
          class="max-w-full w-full px-5 py-4 rounded-lg content-center outline-none text-sm placeholder:text-black placeholder:opacity-40 text-opacity-70 dark:placeholder:text-white dark:placeholder:opacity-70 focus:outline-none transition duration-200 ease-out text-black bg-gray-50 dark:text-white border-opacity-0 dark:bg-gray-700 dark:bg-opacity-70 dark:border-opacity-70 dark:border-gray-700 max-h-[80px] pr-[50px] resize-none scrollbar-hidden"
          cols="30" rows="1" placeholder="Write your message here"
        ></textarea>
      </div>
    </div>
    <div class="min-h-[44px] flex">
      <button
        (click)="onSubmit()"
        class="group flex justify-center items-center outline-none rounded-full focus:outline-none transition-all duration-200 group w-7 h-7 bg-indigo-300 hover:bg-indigo-400 focus:bg-indigo-400 dark:focus:bg-indigo-300 dark:bg-indigo-400 dark:hover:bg-indigo-400 active:scale-110"
        title="send message" aria-label="send message">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
             aria-hidden="true" class="w-[17px] h-[17px] text-white">
          <path stroke-linecap="round" stroke-linejoin="round"
                d="M6 12L3.269 3.126A59.768 59.768 0 0121.485 12 59.77 59.77 0 013.27 20.876L5.999 12zm0 0h7.5"></path>
        </svg>
      </button>
    </div>
  </div>
</div>
