<div *ngIf="chat" class="overflow-hidden w-[75vw] h-[100vh] transition-all duration-150 bg-white user-chat dark:bg-zinc-800">
  <div class="flex">
    <div class="relative w-full overflow-hidden">
      <div class="p-4 border-b border-gray-100 lg:p-6 dark:border-zinc-600">
        <div class="grid items-center grid-cols-12">
          <div class="col-span-8 sm:col-span-4">
            <div (click)="showUsersModal()" class="flex items-center cursor-pointer">
              <div class="ml-3">
                <img *ngIf="chat.image" [src]="chat.image" class="rounded-lg w-9 h-9" alt="">
              </div>
              <div class="flex-grow overflow-hidden">
                <h5 class="mb-0 truncate text-16">
                  <a class="text-gray-800 dark:text-gray-50 font-bold ml-2">{{ chat.name }}</a>
                </h5>
              </div>
            </div>
          </div>
          <div class="col-span-4 sm:col-span-8">
            <ul class="flex items-center justify-end lg:gap-4">
              <li class="px-3">
                <div class="relative dropdown">
                  <button id="toggle" (click)="toggleOpen()" class="p-0 text-xl text-gray-500 border-0 btn dropdown-toggle dark:text-gray-300" type="button">
                    <svg class="w-6 h-6" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 16 3">
                      <path d="M2 0a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3Zm6.041 0a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM14 0a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3Z"/>
                    </svg>
                  </button>
                  <ul appClickedOutside
                      (clickedOutside)="handleClick($event)"
                      style="position: absolute; inset: 0px 0px auto auto; margin: 0px; transform: translate(0px, 28px);" class="dialog hidden absolute z-50 w-40 py-2 mx-4 mt-2 text-left list-none bg-white border rounded shadow-lg ltr:-right-4 border-gray-50 dropdown-menu top-8 dark:bg-zinc-600 bg-clip-padding dark:border-gray-600/50 rtl:-left-5">
                    <li>
                      <button (click)="showUsersModal()" class="block w-full px-4 py-2 text-sm font-normal text-gray-700 bg-transparent dropdown-item whitespace-nowrap hover:bg-gray-100/30 dark:text-gray-100 dark:hover:bg-zinc-700 text-left" href="#">
                        Group Info
                        <svg class="w-4 h-4 text-gray-500 dark:text-gray-300 float-right" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 18">
                          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M14 3a3 3 0 1 1-1.614 5.53M15 12a4 4 0 0 1 4 4v1h-3.348M10 4.5a3.5 3.5 0 1 1-7 0 3.5 3.5 0 0 1 7 0ZM5 11h3a4 4 0 0 1 4 4v2H1v-2a4 4 0 0 1 4-4Z"/>
                        </svg>
                      </button>
                    </li>
                  </ul>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div class="h-[80vh] p-4 lg:p-6">
        <ngx-simplebar #scrollable class="h-[700px]" [options]="options">
          <app-message-bubble *ngFor="let message of messages; index as i;"
                              [loggedUser]="loggedUser"
                              [message]="message"
                              [nextMessage]="messages[i + 1]">
          </app-message-bubble>
        </ngx-simplebar>
      </div>
    </div>
  </div>
  <app-message-input [chatId]="chat.id"
                     (onMessageSend)="onMessageSendHandler($event)">
  </app-message-input>
</div>
<div *ngIf="!chat" class="overflow-hidden flex justify-center items-center w-[75vw] h-[100vh] transition-all duration-150 bg-white user-chat dark:bg-zinc-800">
  <div class="items-center text-2xl font-bold mb-0 text-gray-400 dark:text-gray-300">
    <div class="flex justify-center items-center">
      <svg class="w-16 h-16" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 18" fill="currentColor">
        <path d="M18 4H16V9C16 10.0609 15.5786 11.0783 14.8284 11.8284C14.0783 12.5786 13.0609 13 12 13H9L6.846 14.615C7.17993 14.8628 7.58418 14.9977 8 15H11.667L15.4 17.8C15.5731 17.9298 15.7836 18 16 18C16.2652 18 16.5196 17.8946 16.7071 17.7071C16.8946 17.5196 17 17.2652 17 17V15H18C18.5304 15 19.0391 14.7893 19.4142 14.4142C19.7893 14.0391 20 13.5304 20 13V6C20 5.46957 19.7893 4.96086 19.4142 4.58579C19.0391 4.21071 18.5304 4 18 4Z" fill="currentColor"/>
        <path d="M12 0H2C1.46957 0 0.960859 0.210714 0.585786 0.585786C0.210714 0.960859 0 1.46957 0 2V9C0 9.53043 0.210714 10.0391 0.585786 10.4142C0.960859 10.7893 1.46957 11 2 11H3V13C3 13.1857 3.05171 13.3678 3.14935 13.5257C3.24698 13.6837 3.38668 13.8114 3.55279 13.8944C3.71889 13.9775 3.90484 14.0126 4.08981 13.996C4.27477 13.9793 4.45143 13.9114 4.6 13.8L8.333 11H12C12.5304 11 13.0391 10.7893 13.4142 10.4142C13.7893 10.0391 14 9.53043 14 9V2C14 1.46957 13.7893 0.960859 13.4142 0.585786C13.0391 0.210714 12.5304 0 12 0Z" fill="currentColor"/>
      </svg>
    </div>
    <p class="text-center">Select chat</p> or
    <button (click)="createOwnChatShow()" class="text-[#7269ef] hover:underline">create new</button>
  </div>
</div>
