<section id="modal-dialog" class="fixed z-50 top-16 left-1/2 -translate-x-1/2 overflow-hidden pb-[120px]">
  <div class="container">
    <div class="flex flex-wrap mx-[-16px]">
      <div class="w-full px-4">
        <div *ngIf="chat" class="w-[300px] bg-white dark:bg-gray-800 rounded py-6">
          <div>
            <div class="mb-6 px-5 flex justify-between items-center">
              <p class="text-black opacity-60 dark:text-white text-xl leading-4 tracking-[0.16px] default-outline"
                 id="modal-title" tabindex="0">
                <span>Group</span>
                Info
              </p>
              <button (click)="modalService.close()"
                      class="group p-3 flex justify-center items-center ease-out group py-2 px-4 border rounded-lg border-gray-200 dark:border-white dark:border-opacity-70 focus:outline-none focus:border-red-100 focus:bg-red-100 hover:bg-red-100 hover:border-red-100 dark:hover:border-red-400 dark:hover:bg-red-400 dark:focus:bg-red-400 dark:focus:border-red-400 transition-all duration-200 outline-none">
                <p
                  class="outline-none text-xs font-light text-black opacity-60 dark:text-white dark:opacity-70 leading-4 tracking-[0.16px]">
                  esc
                </p>
              </button>
            </div>
            <div class="w-full p-5 pb-6">
              <div class="flex">
                <div class="mr-5">
                  <button class="outline-none" aria-label="view avatar">
                    <div class="w-[38px] h-[38px] rounded-full bg-cover bg-center"
                         style="background-image: url({{chat.image}});"></div>
                  </button>
                </div>
                <div class="w-full flex justify-between">
                  <div>
                    <p
                      class="outline-none text-sm text-black opacity-60 dark:text-white dark:opacity-70 font-semibold leading-4 tracking-[0.16px] mb-3 mr-5 text-start">
                      <span>{{chat.name}}</span>
                    </p>
                    <p
                      class="outline-none text-sm text-black opacity-60 dark:text-white dark:opacity-70 leading-4 tracking-[0.16px] font-extralight text-start">
                      <span>{{chat.users && chat.users.length > 1 ? chat.users.length + " Contacts" : '1 Contact'}}</span>
                    </p>
                  </div>
                  <button
                    (click)="showEditChat()"
                    class="group flex justify-center items-center outline-none rounded-full focus:outline-none transition-all duration-200 focus:bg-gray-50 hover:bg-gray-50 dark:hover:bg-gray-700 dark:focus:bg-gray-600 group w-7 h-7"
                    title="edit group">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                         stroke="currentColor" aria-hidden="true"
                         class="w-5 h-5 text-gray-400 group-hover:text-indigo-300">
                      <path stroke-linecap="round" stroke-linejoin="round"
                            d="M16.862 4.487l1.687-1.688a1.875 1.875 0 112.652 2.652L6.832 19.82a4.5 4.5 0 01-1.897 1.13l-2.685.8.8-2.685a4.5 4.5 0 011.13-1.897L16.863 4.487zm0 0L19.5 7.125"></path>
                    </svg>
                  </button>
                </div>
              </div>
            </div>
            <div class="w-full py-5 border-t border-gray-100 dark:border-gray-700">
              <div class="px-5 flex items-center pb-5">
                <button (click)="showUsersInGroup()" class="group w-full flex items-center outline-none">
                  <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                       stroke="currentColor" aria-hidden="true" class="w-[20px] h-[20px] mr-6 transition-all duration-200 text-black dark:text-white opacity-50 dark:opacity-70
        group-hover:text-indigo-500 group-active:text-indigo-600
        dark:group-hover:text-indigo-300 dark:group-active:text-indigo-400">
                    <path stroke-linecap="round" stroke-linejoin="round"
                          d="M15.75 6a3.75 3.75 0 11-7.5 0 3.75 3.75 0 017.5 0zM4.501 20.118a7.5 7.5 0 0114.998 0A17.933 17.933 0 0112 21.75c-2.676 0-5.216-.584-7.499-1.632z"></path>
                  </svg>
                  <div class="grow flex justify-start items-start">
                    <p
                      class="outline-none text-sm font-normal leading-4 tracking-[0.16px] transition-all duration-200 text-black dark:text-white opacity-50 dark:opacity-70 group-hover:text-indigo-500 group-active:text-indigo-600 dark:group-hover:text-indigo-300 dark:group-active:text-indigo-400">
                      members</p>
                  </div>
                </button>
              </div>
              <div class="px-5 flex items-center">
                <button (click)="showInviteToGroup()" class="group w-full flex items-center outline-none">
                  <svg class="w-[20px] h-[20px] ml-1 mr-5 transition-all duration-200 text-black dark:text-white opacity-50 dark:opacity-70
        group-hover:text-indigo-500 group-active:text-indigo-600
        dark:group-hover:text-indigo-300 dark:group-active:text-indigo-400" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                       stroke="currentColor" aria-hidden="true" xmlns="http://www.w3.org/2000/svg">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 8h6m-3 3V5m-6-.5a3.5 3.5 0 1 1-7 0 3.5 3.5 0 0 1 7 0ZM5 11h3a4 4 0 0 1 4 4v2H1v-2a4 4 0 0 1 4-4Z"/>
                  </svg>
                  <div class="grow flex justify-start items-start">
                    <p
                      class="outline-none text-sm font-normal leading-4 tracking-[0.16px] transition-all duration-200 text-black dark:text-white opacity-50 dark:opacity-70 group-hover:text-indigo-500 group-active:text-indigo-600 dark:group-hover:text-indigo-300 dark:group-active:text-indigo-400">
                      invite to group
                    </p>
                  </div>
                </button>
              </div>
            </div>
            <div class="w-full border-t border-gray-100 dark:border-gray-700">
              <div class="px-5 pt-5 flex items-center group">
                <button (click)="leaveConfirmation = true" class="group w-full flex items-center outline-none"
                        [ngClass]="{'hidden': leaveConfirmation}">
                  <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                       stroke="currentColor" aria-hidden="true"
                       class="w-[20px] h-[20px] mr-6 transition-all duration-200 text-red-400 group-hover:text-red-500">
                    <path stroke-linecap="round" stroke-linejoin="round"
                          d="M15.75 9V5.25A2.25 2.25 0 0013.5 3h-6a2.25 2.25 0 00-2.25 2.25v13.5A2.25 2.25 0 007.5 21h6a2.25 2.25 0 002.25-2.25V15M12 9l-3 3m0 0l3 3m-3-3h12.75"></path>
                  </svg>
                  <div class="grow flex justify-start items-start">
                    <p
                      class="outline-none text-sm font-normal leading-4 tracking-[0.16px] transition-all duration-200 text-red-400 group-hover:text-red-500">
                      exit group</p>
                  </div>
                </button>
                <button (click)="leaveConfirmation = false" class="w-full flex items-center outline-none"
                        [ngClass]="{'hidden': !leaveConfirmation}">
                  <div class="grow flex justify-start items-start">
                    <p
                      class="outline-none text-sm font-normal leading-4 tracking-[0.16px] transition-all duration-200 text-gray-400 hover:text-gray-500">
                      No, cancel</p>
                  </div>
                </button>
                <button (click)="leaveFromChat()" class="w-full flex items-center outline-none"
                        [ngClass]="{'hidden': !leaveConfirmation}">
                  <div class="grow flex justify-start items-start">
                    <p
                      class="outline-none text-sm font-normal leading-4 tracking-[0.16px] transition-all duration-200 text-red-400 hover:text-red-500">
                      Yes, leave</p>
                  </div>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
