<div class="px-5 py-[15px] hover:bg-slate-100 transition-all ease-in-out border-b border-white/20 dark:border-zinc-700 dark:hover:bg-zinc-600 dark:hover:border-zinc-700">
  <button class="w-full" (click)="selectChat()">
    <div class="flex">
      <div *ngIf="chat.image" class="relative self-center">
        <img [src]="chat.image" class="rounded-lg w-9 h-9" alt="">
      </div>

      <div class="flex-grow ml-2 overflow-hidden">
        <h5 class="mb-1 text-base truncate dark:text-gray-50 text-left">{{ chat.name }}</h5>
        <p *ngIf="chat.lastMessage" class="mb-0 text-left text-gray-500 truncate dark:text-gray-300 text-14 flex">{{chat.lastMessage.user.userName}}: <svg *ngIf="chat.lastMessage.fileName.length != 0" class="ml-1 mr-0.5 mt-1 w-4 h-4 relative" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 16 20">
          <path d="M5 5V.13a2.96 2.96 0 0 0-1.293.749L.879 3.707A2.98 2.98 0 0 0 .13 5H5Z"/>
          <path d="M14.066 0H7v5a2 2 0 0 1-2 2H0v11a1.97 1.97 0 0 0 1.934 2h12.132A1.97 1.97 0 0 0 16 18V2a1.97 1.97 0 0 0-1.934-2Z"/>
        </svg>
          {{chat.lastMessage.fileName}}{{chat.lastMessage.fileName.length == 0? (chat.lastMessage.content | truncate:[15, '...']) : ''}}</p>
      </div>
      <div *ngIf="chat.lastMessage" class="text-gray-500 text-[.688rem] dark:text-gray-300">{{chat.lastMessage.dateCreated | customTimeAgo  }}</div>
    </div>
  </button>
</div>
