<section class="fixed z-50 top-16 left-1/2 -translate-x-1/2 overflow-hidden pb-[120px]">
  <div class="container">
    <div class="flex flex-wrap mx-[-16px]">
      <div class="w-full px-4">
        <div class="w-[300px] bg-white dark:bg-gray-800 rounded py-6">
          <div data-v-8d600454="" class="">
            <div class="flex justify-between items-center mb-6 px-5">
              <p class="text-black opacity-60 dark:text-white text-xl leading-4 tracking-[0.16px] default-outline"
                 id="modal-title"> Members </p>
              <button
                (click)="ShowGroupInfo()"
                class="group p-2 border rounded-full border-gray-200 dark:border-white dark:border-opacity-70 focus:outline-none focus:border-indigo-100 focus:bg-indigo-100 hover:bg-indigo-100 hover:border-indigo-100 dark:hover:border-indigo-400 dark:hover:bg-indigo-400 dark:focus:bg-reindigod-400 dark:focus:border-indigo-400 transition-all duration-200 outline-none">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" aria-hidden="true"
                     class="w-5 h-5 text-black opacity-50 dark:text-white dark:opacity-70 group-hover:text-indigo-500 group-hover:opacity-100 dark:group-hover:text-white">
                  <path fill-rule="evenodd"
                        d="M9.53 2.47a.75.75 0 010 1.06L4.81 8.25H15a6.75 6.75 0 010 13.5h-3a.75.75 0 010-1.5h3a5.25 5.25 0 100-10.5H4.81l4.72 4.72a.75.75 0 11-1.06 1.06l-6-6a.75.75 0 010-1.06l6-6a.75.75 0 011.06 0z"
                        clip-rule="evenodd"></path>
                </svg>
              </button>
            </div>
            <div class="mb-5 mx-5">
              <div class="relative">
                <i class="absolute left-0 top-[6.5px] ml-1 text-center">
                  <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                       stroke="currentColor" aria-hidden="true"
                       class="w-5 h-5 stroke-2 text-black opacity-40 dark:text-white dark:opacity-70">
                    <path stroke-linecap="round" stroke-linejoin="round"
                          d="M21 21l-5.197-5.197m0 0A7.5 7.5 0 105.196 5.196a7.5 7.5 0 0010.607 10.607z"></path>
                  </svg>
                </i>
                <input type="text" placeholder="Search.."
                       [(ngModel)]="filter"
                       class="w-full h-8 py-3 px-7 border outline-none rounded-sm text-black dark:text-white dark:opacity-70 placeholder:text-black placeholder:opacity-40 dark:placeholder:text-white dark:placeholder:opacity-70 focus:outline-none focus:ring focus:ring-indigo-100 duration-200 transition ease-out text-opacity-70 border-none bg-gray-50 dark:bg-gray-700 focus:bg-white dark:focus:bg-gray-800">
                <div class="absolute top-0 right-0"></div>
              </div>
            </div>
            <div>
              <ngx-simplebar class="max-h-[232px]">
                <div *ngFor="let user of chat?.users | myFilterPipe:{userName: filter}">
                  <div class="w-full px-5 mb-3 flex transition duration-200 ease-out outline-none">
                    <div class="mr-4">
                      <div class="w-7 h-7 rounded-full bg-cover bg-center"
                           style="background-image: url({{user.image ?? ''}});"></div>
                    </div>
                    <div class="w-full flex flex-col items-start">
                      <div class="w-full flex justify-between items-center">
                        <a href="#"
                           class="flex items-center">
                          <p
                            class="outline-none text-sm text-black opacity-60 dark:text-white dark:opacity-70 font-semibold leading-4 tracking-[0.16px]">
                            {{user.userName}}
                          </p>
                        </a>
                        <div class="relative">
                          <div>
                            <button
                              class="group flex justify-center items-center outline-none rounded-full focus:outline-none transition-all duration-200 focus:bg-gray-50 hover:bg-gray-50 dark:hover:bg-gray-700 dark:focus:bg-gray-600 open-menu w-6 h-6"
                              title="menu">
                              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                   stroke-width="1.5"
                                   stroke="currentColor" aria-hidden="true"
                                   class="open-menu h-5 w-5 text-black opacity-60 dark:text-white">
                                <path stroke-linecap="round" stroke-linejoin="round"
                                      d="M12 6.75a.75.75 0 110-1.5.75.75 0 010 1.5zM12 12.75a.75.75 0 110-1.5.75.75 0 010 1.5zM12 18.75a.75.75 0 110-1.5.75.75 0 010 1.5z"></path>
                              </svg>
                            </button>
                            <!--                            <div>&lt;!&ndash;&ndash;&gt;-->
                            <!--                              <div data-v-5a116fd1=""-->
                            <!--                                   class="top-6 right-0 absolute z-[100] w-[200px] mt-2 rounded-sm bg-white dark:bg-gray-800 shadow-lg border border-gray-100 dark:border-gray-600 focus:outline-none"-->
                            <!--                                   role="menu" aria-orientation="vertical" aria-labelledby="menu-button" tabindex="-1"-->
                            <!--                                   style="display: none;">-->
                            <!--                                <div role="none">-->
                            <!--                                  <button-->
                            <!--                                    class="w-full px-4 py-3 flex items-center border-b opacity-60 dark:opacity-70 outline-none text-sm border-gray-200 dark:border-gray-600 transition-all duration-200 text-black dark:text-white active:bg-gray-100 dark:hover:bg-gray-600 dark:focus:bg-gray-600 hover:bg-gray-50"-->
                            <!--                                    role="menuitem"> Promote to admin-->
                            <!--                                  </button>-->
                            <!--                                  <button-->
                            <!--                                    class="w-full px-4 py-3 flex items-center border-b opacity-60 dark:opacity-70 outline-none text-sm border-gray-200 dark:border-gray-600 transition-all duration-200 text-black dark:text-white active:bg-gray-100 dark:hover:bg-gray-600 dark:focus:bg-gray-600 hover:bg-gray-50"-->
                            <!--                                    role="menuitem"> Demote to member-->
                            <!--                                  </button>-->
                            <!--                                  <button-->
                            <!--                                    class="w-full px-4 py-3 flex items-center border-b opacity-60 dark:opacity-70 outline-none text-sm border-gray-200 dark:border-gray-600 transition-all duration-200 text-red-500 dark:hover:text-red-50 hover:bg-red-50 active:bg-red-100 dark:hover:bg-red-900"-->
                            <!--                                    role="menuitem"> Remove contact-->
                            <!--                                  </button>-->
                            <!--                                </div>-->
                            <!--                              </div>-->
                            <!--                            </div>-->
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="h-full flex flex-col justify-center items-center"></div>
                  </div>
                </div>
              </ngx-simplebar>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
